.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  color: var(--main-titles-color);
  background-color: var(--background-main);
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link-underline {
  text-decoration: none;
}

img {
  display: block;
}

.header {
  position: relative;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.header__menu-btn {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: transparent;
  }
  .header__btn-cloze {
    display: none;
  }
  .header__menu-btn.is-open .header__btn-cloze {
    display: block;
  }
  .header__menu-btn.is-open .header__btn-menu {
    display: none;
  }
  .header__btn-svg {
    fill: #212121;
  }
  .header__btn-svg:hover, .header__btn-svg:focus {
    fill: #2196f3;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
  }
  .header__menu-container.is-open {
    display: block;
  }
  .header__nav-item:not(:first-child) {
    margin-top: 40px;
  }
  .header__nav-link {
    color: #212121;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
  }
  .header__nav-link:hover, .header__nav-link:focus {
    color: #2196f3;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__nav-link--current {
    position: relative;
    color: #2196f3;
  }
  .header__nav-link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .header__address {
    margin-top: 60px;
  }
  .header__address-item:not(:first-child) {
    margin-top: 16px;
  }
  .header__address-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #757575;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
  }
  .header__address-link:hover, .header__address-link:focus {
    color: #2196f3;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__address-svg {
    margin-right: 10px;
    fill: #757575;
  }
  .header__address-link:hover .header__address-svg,
  .header__address-link:focus .header__address-svg {
    fill: #2196f3;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .header__menu-container {
    display: flex;
    align-items: center;
  }
  .header__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__nav-item:not(:first-child) {
    margin-left: 50px;
  }
  .header__address {
    margin-left: 84px;
  }
  .header__nav-link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
  }
  .header__nav-link:hover, .header__nav-link:focus {
    color: #2196f3;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__nav-link--current {
    position: relative;
    color: #2196f3;
  }
  .header__nav-link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -35px;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .header__address-item:not(:first-child) {
    margin-top: 10px;
  }
  .header__address-link {
    color: #757575;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
  }
  .header__address-link:hover, .header__address-link:focus {
    color: #2196f3;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__address-svg {
    margin-right: 8px;
    fill: #757575;
  }
  .header__address-link:hover .header__address-svg,
  .header__address-link:focus .header__address-svg {
    fill: #2196f3;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 13px;
  }
  .header .logo {
    align-self: start;
    margin-right: 93px;
  }
  .header__menu-container {
    display: flex;
    align-items: center;
  }
  .header__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 300px;
  }
  .header__nav-item:not(:last-child) {
    margin-right: 50px;
  }
  .header__nav-link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
  }
  .header__nav-link:hover, .header__nav-link:focus {
    color: #2196f3;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__nav-link--current {
    position: relative;
    color: #2196f3;
  }
  .header__nav-link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -18px;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .header__address-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__address-item:not(:first-child) {
    margin-left: 30px;
  }
  .header__address-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #757575;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
  }
  .header__address-link:hover, .header__address-link:focus {
    color: #2196f3;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__address-svg {
    margin-right: 10px;
    fill: #757575;
  }
  .header__address-link:hover .header__address-svg,
  .header__address-link:focus .header__address-svg {
    fill: #2196f3;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.main-section {
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//images/main-section/mobile/main-section-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
}

.main-section__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-section__button {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  border: 1px solid transparent;
  border-radius: 4px;
  max-width: 200px;
  min-height: 50px;
  text-align: center;
  display: block;
  padding: 10px 32px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px), screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .main-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("..//images/main-section/mobile/main-section-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//images/main-section/tablet/main-section-tablet.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .main-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(..//images/main-section/desktop/main-section-desktop.jpg);
  }
  .main-section__title {
    font-size: 44px;
    line-height: 1.4;
  }
}

.qualities-section {
  background-color: #ffffff;
}

.qualities-section__item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.qualities-section .antenna::before {
  background-image: url(..//images/svg/qualities/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.qualities-section .clock::before {
  background-image: url(..//images/svg/qualities/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.qualities-section .diagram::before {
  background-image: url(..//images/svg/qualities/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.qualities-section .astronaut::before {
  background-image: url(..//images/svg/qualities/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.qualities-section__caption {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.qualities-section__description {
  margin-top: 10px;
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .qualities-section .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .qualities-section__item:not(:first-child) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .qualities-section .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .qualities-section__list {
    display: flex;
    flex-wrap: wrap;
  }
  .qualities-section__item {
    max-width: 354px;
  }
  .qualities-section__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .qualities-section__item:nth-child(n + 3) {
    margin-top: 30px;
  }
  .qualities-section__caption {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .qualities-section .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .qualities-section__list {
    display: flex;
  }
  .qualities-section__item {
    min-width: 270px;
  }
  .qualities-section__item:not(:last-child) {
    margin-right: 30px;
  }
}

.tasks-section {
  background-color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .tasks-section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .tasks-section .container {
    padding-bottom: 94px;
  }
  .tasks-section__title {
    color: #212121;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
  }
  .tasks-section__list {
    display: flex;
    margin-top: 50px;
  }
  .tasks-section__item {
    position: relative;
  }
  .tasks-section__item:not(:last-child) {
    margin-right: 30px;
  }
  .tasks-section__overlay {
    position: absolute;
    top: 224px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .tasks-section__overlay-description {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.team-section {
  background-color: #f5f4fa;
}

.team-section .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-section__title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-section__team-pic {
  display: block;
  max-width: 100%;
}

.team-section__team-item {
  margin-top: 30px;
  padding-bottom: 24px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.team-section__worker-name {
  text-align: center;
  margin-top: 30px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-section__position {
  text-align: center;
  margin-top: 10px;
  color: #757575;
  font-size: 16px;
  line-height: 1.2;
}

.team-section__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.team-section__socials-item:not(:last-child) {
  margin-right: 10px;
}

.team-section__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}

.team-section__socials-link:hover, .team-section__socials-link:focus {
  background-color: #2196f3;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-section__socials-svg {
  fill: #afb1b8;
}

.team-section__socials-link:hover .team-section__socials-svg,
.team-section__socials-link:focus .team-section__socials-svg {
  fill: #ffffff;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-section__team {
    display: flex;
    flex-wrap: wrap;
  }
  .team-section__team-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-section .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-section__title {
    font-size: 36px;
  }
  .team-section__team {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 30px;
  }
  .team-section__team-item:not(:last-child) {
    margin-right: 30px;
  }
}

.partners-section {
  background-color: #ffffff;
}

.partners-section .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.partners-section__title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.partners-section__partners-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.partners-section__partners-link:hover .partners-section__partners-svg,
.partners-section__partners-link:focus .partners-section__partners-svg {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-section__partners-link:hover, .partners-section__partners-link:focus {
  border: 1px solid #2196f3;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-section__partners-svg {
  fill: #afb1b8;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .partners-section__partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .partners-section__partners-item {
    margin-top: 30px;
    width: calc(53.3% - 30px);
  }
  .partners-section__partners-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .partners-section__partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .partners-section__partners-item {
    margin-top: 30px;
  }
  .partners-section__partners-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .partners-section__partners-link {
    width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .partners-section .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .partners-section__partners {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .partners-section__partners-item {
    margin-top: 50px;
  }
  .partners-section__partners-item:not(:last-child) {
    margin-right: 30px;
  }
  .partners-section__partners-link {
    width: 170px;
  }
}

.footer-form {
  padding: 0;
  margin: 0;
}

.footer-form .input-wrapper {
  margin-top: 60px;
  width: 100%;
}

.footer-form .button-wrapper {
  margin-top: 20px;
}

.footer-form .subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-form .form-label {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form .subscriber-mail {
  display: block;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  padding: 15px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form .subscriber-mail::placeholder {
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form .subscriber-mail:focus {
  outline: none;
  background: transparent;
}

.footer-form .subscribe-btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  min-height: 50px;
  padding: 10px 28px;
  cursor: pointer;
  background: #2196f3;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.footer-form .subscribe-btn-submit::after {
  content: "";
  display: inline-block;
  margin-left: 6px;
  align-self: center;
  width: 24px;
  height: 24px;
  background-image: url(..//images/svg/subscribe.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.footer {
  background-color: #2f303a;
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.footer__address-location {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer__address-contact {
  color: #757575;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer__socials-capture {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.footer__socials-item:not(:last-child) {
  margin-right: 10px;
}

.footer__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__socials-link:hover, .footer__socials-link:focus {
  background-color: #2196f3;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__socials-svg {
  fill: #afb1b8;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__address {
    margin-top: 20px;
  }
  .footer__address-item:not(:first-child) {
    margin-top: 8px;
  }
  .footer__socials-capture {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__address {
    margin-top: 20px;
  }
  .footer__address-item:not(:first-child) {
    margin-top: 8px;
  }
  .footer-form {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer__address {
    margin-top: 20px;
  }
  .footer__address-item:not(:first-child) {
    margin-top: 9px;
  }
  .footer__address-container {
    text-align: start;
  }
  .footer-form {
    width: 570px;
  }
  .footer .subscribe-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  .footer .input-wrapper {
    margin-top: 0;
  }
  .footer .subscribe-btn-submit {
    margin-left: 12px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo__part {
  color: #2196f3;
}

.logo--dark-theme {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */