.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  color: var(--main-titles-color);
  background-color: var(--background-main);
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link-underline {
  text-decoration: none;
}

img {
  display: block;
}

.header {
  position: relative;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__nav-item:not(:first-child) {
  margin-top: 40px;
}

.header__nav-link {
  color: #212121;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
}

.header__nav-link:hover, .header__nav-link:focus {
  color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-link--current {
  position: relative;
  color: #2196f3;
}

.header__nav-link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.header__address {
  margin-top: 60px;
}

.header__address-item:not(:first-child) {
  margin-top: 16px;
}

.header__address-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
}

.header__address-link:hover, .header__address-link:focus {
  color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__address-svg {
  margin-right: 10px;
  fill: #757575;
}

.header__address-link:hover .header__address-svg,
.header__address-link:focus .header__address-svg {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: transparent;
}

.header__btn-cloze {
  display: none;
}

.header__menu-btn.is-open .header__btn-cloze {
  display: block;
}

.header__menu-btn.is-open .header__btn-menu {
  display: none;
}

.header__btn-svg {
  fill: #212121;
}

.header__btn-svg:hover, .header__btn-svg:focus {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .header__menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
  }
  .header__menu-container.is-open {
    display: block;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 480px) {
  .section {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    width: 1200px;
  }
}

@media screen and (min-width: 1600px) {
  .section {
    width: 1600px;
  }
}

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo__part {
  color: #2196f3;
}
/*# sourceMappingURL=portfolio.css.map */