@import "../components/footer-form";

.footer {
  background-color: $dark-background;
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
  }
  //footer nav
  &__address-location {
    color: $third-title-color;

    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
  }
  &__address-contact {
    color: $address;

    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
  }
  //foter socials

  &__socials-capture {
    color: $third-title-color;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;

    &-item:not(:last-child) {
      margin-right: 10px;
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
    }
    &-link:hover,
    &-link:focus {
      background-color: $interactive-elements;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-svg {
      fill: $svg-main;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    //footer nav
    &__address {
      margin-top: 20px;

      &-item:not(:first-child) {
        margin-top: 8px;
      }
    }

    //foter socials
    &__socials-capture {
      margin-top: 60px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__address {
      margin-top: 20px;

      &-item:not(:first-child) {
        margin-top: 8px;
      }
    }
    &-form {
      width: 450px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    .container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    &__address {
      margin-top: 20px;

      &-item:not(:first-child) {
        margin-top: 9px;
      }
      &-container {
        text-align: start;
      }
    }
    &-form {
      width: 570px;
    }
    .subscribe-form {
      display: flex;

      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
    }
    .input-wrapper {
      margin-top: 0;
    }
    .subscribe-btn-submit {
      margin-left: 12px;
    }
  }
}
