.partners-section {
  background-color: $background-main;
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: $main-titles-color;
  }
  &__partners-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid $borders;
    border-radius: 4px;
  }
  &__partners-link:hover &__partners-svg,
  &__partners-link:focus &__partners-svg {
    fill: $svg-accent;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__partners-link:hover,
  &__partners-link:focus {
    border: 1px solid $borders-accent;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__partners-svg {
    fill: $svg-main;
  }
}
//mobile
@media screen and (min-width: 320px) and (max-width: 767px) {
  .partners-section {
    &__partners {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      &-item {
        margin-top: 30px;
      }

      &-item:nth-child(2n + 1) {
        margin-right: 30px;
      }
    }
  }
}

//tablet
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .partners-section {
    &__partners {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      &-item {
        margin-top: 30px;
      }

      &-item:not(:nth-child(3n)) {
        margin-right: 30px;
      }
    }
    &__partners-link {
      width: 226px;
      height: 90px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .partners-section {
    .container {
      padding-top: 94px;
      padding-bottom: 94px;
    }

    &__partners {
      display: flex;

      justify-content: center;
      align-items: center;

      &-item {
        margin-top: 50px;
      }
      &-item:not(:last-child) {
        margin-right: 30px;
      }
      &-link {
        width: 170px;
      }
    }
  }
}
