.partners-section {
  background-color: $background-main;

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    color: $main-titles-color;
  }
  &__partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &-item {
      margin-top: 30px;
    }

    &-item:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 170px;
      height: 90px;
      border: 1px solid $borders;
      border-radius: 4px;
    }
    &-link:hover &-svg,
    &-link:focus &-svg {
      fill: $svg-accent;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-link:hover,
    &-link:focus {
      border: 1px solid $borders-accent;
      transition-property: border;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-svg {
      fill: $svg-main;
    }
  }
}
