.logo {
  color: $main-titles-color;

  font-family: Raleway, sans-serif;

  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  &__part {
    color: $interactive-elements;
  }
  &--dark-theme {
    color: $third-title-color;
  }
}
