.portfolio-main__gallery-card {
  position: relative;
  overflow: hidden;

  &-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: translateY(100%);
    padding: 63px 24px;

    pointer-events: none;
    background-color: rgba(33, 150, 243, 0.9);
    transition-property: transform;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
  }
  &-description {
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;

    color: $third-title-color;
  }
}
.portfolio-main__gallery-item:hover .portfolio-main__gallery-card-overlay,
.portfolio-main__gallery-item:focus .portfolio-main__gallery-card-overlay {
  transform: translateY(0);

  opacity: 1;
  z-index: 1;

  pointer-events: auto;
}
