$main-titles-color: #212121;
$secondary-titles-color: #757575;
$third-title-color: #ffffff;
$background-main: #ffffff;
$dark-background: #2f303a;
$grey-background: #f5f4fa;
$interactive-elements: #2196f3;
$address: #757575;
$svg-main: #afb1b8;
$svg-modal: #212121;
$svg-secondary: #ffffff;
$svg-bgc: #ffffff 10%;
$svg-accent: #2196f3;
$borders: #afb1b8;
$borders-accent: #2196f3;
